span {
    border-bottom:1px dotted #d8d8d8;
    padding-bottom:15px;
    font-size:1.8rem
}

#slider2 {
width:525px;
top:100px;
position:absolute;
}

input {
    font-size: 1.5rem;
    margin:1rem 0;
    padding: .25rem .25rem;
}

#header2 {
    background-color: #eee;
    width:360px;
    height:520px;
    position:absolute;
    right:115.5rem;
    border:1px solid #d8d8d8;
    margin-left:40px;
    padding:20px 40px;
    border-radius:3px;
    z-index: 1;
}

.saved-event-text {
    font-size: 3rem;
    color: #eee;
    font-weight: 500;
    position: relative;
    top: -8.5px;
    padding-right: 10px;
    z-index: 1;
}

.fas {
    font-size: 5rem;
    color: white;
}



#sidebar2 {
    position:relative;
    top:150px;
    right:1220px;
    z-index: 1;
    }

#sidebar3 {
    position:relative;
    top:150px;
    right:1220px;
    z-index: 1;
}

input[type=text] {
    margin-top:20px;
    padding:6px;
    width:100%;
    font-size:1.5rem;
    border-radius:2px;
    border:3px solid #167e56
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h4 {
    font-size:1.5rem;
    margin:1rem 0;
}

div#title {
    position:absolute;
    top:300px;
    left:650px
}

select {
    padding:6px;
    width:100%;
    font-size:1.5rem;
    border-radius:2px;
    border:3px solid #167e56
}

textarea {
    padding:6px;
    font-size:1.5rem;
    border-radius:2px;
    border:3px solid #167e56;
    margin-top:20px;
    height:80px;
    width:100%
}

button {
    background:#167e56;
    border:none;
    color:#fff;
    width:100%;
    font-size:2.5rem;
    font-weight:bolder;
    padding:8px 0;
    border-radius:3px;
    cursor:pointer;
    margin-top:25px
}

.saved-events {
   list-style-type: none;
   font-size: 2rem;
   position: relative;
   display: flex;
   flex-direction: column;

}

li {
    border: 3px solid #167e56;
    border-radius: 8px;
    margin: 8px 0;
    padding: 8px;
    width: 90%;
}

.delete{
    font-size: 2.5rem ;
    color: #167e56;
    position: absolute;
    right: 0px;
    top: 17px;
    margin:0;
    padding: 0;
}